{% extends 'layout.html' %}

{% block body %}

<!DOCTYPE html>
<html src="estadoactual" lang="en" dir="ltr">



<head>
<meta charset="utf-8">
</head>

<body>
<h1>Estado Actual</h1>


<table>
  <tr>
    <td>T° Cama [°C]</td>
    <td>{{ bed_data }}</td>
  </tr>
  <tr>
    <td>T° Hta [°C]</td>
    <td>{{ tool_data }}</td>
  </tr>
  <tr>
    <td>Conexión</td>
    <td> {{conn_data }}</td>
  </tr>
  <tr>
    <td>Trabajo</td>
    <td>{{ job_data }}</td>
  </tr>
  <tr>
    <td>Estado</td>
    <td>{{ state_data }}</td>
  </tr>

</table>

</body>

</html>










{% endblock %}
